# Ignore list for Eagle, a PCB layout tool

# Backup files
*.zip

# Excel
*.xls

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

# Altium extra project files
*.prjpcbstructure
_Previews/*
"Project Outputs for 5VPointofloadPSU"/_Previews/*
History/*
Pictures/
"Project Logs for 5VPointofloadPSU"/*


*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*


Project Outputs for 5VPointofloadPSU/Gerber/__Previews/
Project Outputs for 5VPointofloadPSU/NC Drill/__Previews/
Project Outputs for 5VPointofloadPSU/__Previews/
